.Container {
  display: grid;
  align-items: center;
  grid-template-columns: 5% 95%;
  background-color: #080420;
  padding: 0 2rem;
}

/* Responsive adjustments for screens with a maximum width of 719px (commonly used for mobile devices) */
@media screen and (max-width: 719px) {
  .Container {
    grid-template-columns: 1fr; /* Full width for columns on smaller screens */
    padding: 0 1rem;
    gap: 1rem;
  }
}

.Container .button-container {
  display: flex;
  align-items: center;
  color: white;
  gap: 1rem;
}

.Container .input-container {
  width: 80%;
  border-radius: 0.8rem;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: #ffffff34;
}

.Container .input-container input {
  width: 100%;
  height: 60%;
  background-color: transparent;
  color: white;
  border: none;
  padding-left: 1rem;
  font-size: 1.2rem;
}

.Container .input-container input::selection {
  background-color: #280494;
}

.Container .input-container input:focus {
  outline: none;
}

.Container .input-container button {
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #39FF14;
  cursor: pointer;
  border: none;
}

.lgbtn {
  font-size: 1.2rem;
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8E0E00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1F1C18, #8E0E00);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;
  border: none;
}

/* Additional media query for screens with a minimum width of 720px and a maximum width of 1080px */
@media screen and (min-width: 720px) and (max-width: 1080px) {
  .Container .input-container button {
    padding: 0.3rem 1rem;
  }

  .Container .input-container button svg {
    font-size: 1rem;
  }
}

.Container .input-container button svg {
  font-size: 2rem;
  color: white;
}

/* Responsive adjustments for screens with a maximum width of 479px (commonly used for mobile devices) */
@media screen and (max-width: 479px) {
  .Container .input-container {
    width: 100%; /* Full width for the input container on smaller screens */
  }

  .Container .input-container input {
    font-size: 1rem; /* Reduce the font size of the input on smaller screens */
  }

  .lgbtn {
    font-size: 1rem; /* Reduce the font size of the button on smaller screens */
  }
}
